<div class="banner position-relative">
  <%= image_tag "https://i.pinimg.com/736x/4d/5e/4d/4d5e4dd62a6fb90c2a4ff418d4d793de.jpg", height: 500, class: "w-100 object-fit-cover blur" %>
  <h1 class="text-white position-absolute top-50 w-100 text-center">Save any kind of movies with mobees</h1>
</div>

<%= render "lists", lists:  @lists %>
